{% extends 'layout.html' %} {% block body %}
<style type="text/css">
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;  
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding-left: 10px;
}





.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

</style>
</head>
<body>



<div class="row">
  

  <div align="center">
  </br>
    <div >
      <img src="{{ url_for('static', filename='images/nithish.jpg') }}" alt="nithish" style="width:10%;height:auto" >
    </br></br>
      <div class="container">
        <h2>G. Nithish Kumar</h2>
        <p class="title">M.TECH IT (SPLN. IN AI & DS)</p>
        <p class="title">2023176041</p>
        <p>College of Engineering, GUINDY</p>
        <p>kumarnithish207@gmail.com</p>
        <p></br>
	<a href="http://www.instagram.com/nikekumar_" target="_blank">
	<img src="{{ url_for('static', filename='images/instagram.png') }}" alt="insta" style="width:5%"></a>
	<a href="http://www.linkedin.com/in/nithish-kumar-2314ba194" target="_blank">
	<img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="insta" style="width:5%"></a>
	<a href="http://www.github.com/Nikekumar" target="_blank">
	<img src="{{ url_for('static', filename='images/github.png') }}" alt="insta" style="width:5%"></a>
	</p></br></br>
      </div>
    </div>
  </div>
  
</div>
</body>

{% endblock %}

</html>