{% extends 'layout.html' %}


{% block body %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

        <style>
        body{
            background-image: linear-gradient(to top, #d3fca5 10%, #ddf87bd2 89%, #b3ee54f3 100%);
            
        }
        .ratings i{
            font-size: 16px;
            color: red
        }
        .strike-text{
            color: red;
            text-decoration: line-through
        }
        .product-image{
            width: 100%
        }
        .dot{
            height: 7px;
            width: 7px;
            margin-left: 6px;
            margin-right: 6px;
            margin-top: 3px;
            background-color: blue;
            border-radius: 50%;
            display: inline-block
        }
        .spec-1{
            color: #938787;
            font-size: 15px
        }
        h5{
            font-weight: 400
        }
        .para{
            font-size: 16px
        }

        </style>
    </head>
    <body><br><br>
        <h1 align="center">Colleges</h1><br>
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/colleges/1.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Arignar Anna Government Arts College</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >MGHQ+68M, Arcot Rd, Cheyyar.<br> 
                                Tamil Nadu 604407<br>
                                ph:No: 04182 225 313<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/i1cpoQGZ9vvxKZQNA" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href="http://www.aagaccheyyar.com/"><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to visit</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/colleges/2.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Government Polytechnic College</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >SH 5, Arcot Road, Cheyyar.<br>
                                Tamil Nadu 604407<br>                                
                                Ph:No: 04182 224 275<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/A4rFRCk6aQhCdAhs9" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href="http://gptcheyyar.in/"><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                        <!----------------------------------------------------------------------------------------->
                    </div><div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/colleges/3.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Indo American College</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >Main Road, Valarpuram, Cheyyar. <br>
                                Near Govt-Rice Mill, <br>
                                Tamil Nadu 604407<br>                                
                               Ph:No: 04182 222 604<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/xww5386A6X1xDsQZ6" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href="http://iac-cheyyar.com/"><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/colleges/4.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Wisdom College of Arts & Science</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >JHJ5+FRV, Roundana Anakkavoor, <br>
                                Anakavur, <br>
                                Tamil Nadu 604401<br>                              
                                <br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/LJcnqSk5fhPS2XaV8" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href="http://wisdomeducationaltrust.com/wisdomartsscience/"><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/colleges/5.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Adhiparasakthi College of Arts and Science</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >RC2J+WQJ, GB Nagar, Mulluvadi, <br>
                                Kalavai, Ranipet,<br>
                                Tamil Nadu 632506<br>                                
                                Ph:No: 04173 242 226<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/Vg7ZnpVQNzq245278" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href="http://apcas.ac.in/"><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/colleges/6.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Adhiparasakthi College of Engineering</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >RC2J+WQJ, GB Nagar, Mulluvadi, <br>
                                Kalavai, Ranipet,<br>
                                Tamil Nadu 632506<br>
                                Ph:No: 04173242584<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/gZJoYfERNmaAjKep9" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href="http://apce.in/"><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/colleges/7.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Adhiparasakthi Agricultural College</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >QCWV+7J5, G.B. Kalavai,<br>
                                Kurumudithangal, <br>
                                Tamil Nadu 632506<br>                                
                                Ph:No: 04173 242 648<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/PXw9Ec4rhvbvyL6z8" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href="https://www.apahc.in/"><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/colleges/8.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Arulmigu Meenakshi Amman College of Engineering</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >QJJH+M52, Vadamavandal, <br>
                                Namandi P.O, <br>
                                Cheyyar Taluk, <br>
                                Near Kanchipuram, <br>
                                Tamil Nadu 604410<br>                                
                                Ph:No: 04182 247 226<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/xyatt2CL6AMnFxd78" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/colleges/9.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Aadhi Bhagawan College of Pharmacy</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p > SH 5, Randam,<br>
                                Cheyyar, Tamil Nadu 604407     <br>                        
                                Ph:No: 04182 248 378, 089400 04168<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/ZnXvDnEiH2RSqtfNA" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href="http://www.abcpharmacy.net.in/"><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    
                </div>
            </div>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </body>
</html>
{% endblock %}