{% extends 'layout.html' %}


{% block body %}

<html>
    <head>
        <style>

html,
body,
.intro {
  height: auto;
  background-image: url('../static/images/cellnumber1.png')
}
.table {
    background-color: rgba(0, 0, 0, 0.075)

}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}

thead th,
tbody th {
  color: #fff;
}

tbody td {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.65);
}

.card {
  border-radius: .5rem;
}



        </style>
    </head>
    <body>
    <section class="intro">
            
<div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.027);">
<div class="container"><br><br>
    <!----------------------------------------------------------------------->
    <div class="card bg-dark shadow-2">
    <div class="card-body">
        <table class="table table-dark table-borderless mb-0" style="text-align: center;"   >
            <thead>
            <tr>
                <th scope="col" colspan="4" style="color: rgb(204, 0, 255);">IMPORTANT CONTACTS</th> 
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Police Station</th>
                <td>04182-222240</td>
            </tr>
            <tr>
                <th scope="row">Womens' Police Station</th>
                <td>04182-220620</td>
            </tr>
            <tr>
                <th scope="row">Fire Station</th>
                <td>04182-222222</td>
            </tr>
            <tr>
                <th scope="row">Electricity Board</th>
                <td>04182-222244, 04182-222359</td>
            </tr>
            <tr>
                <th scope="row">Government Hospital</th>
                <td>04182-222219</td>
            </tr>
            <tr>
                <th scope="row">Natural Calamity Tahsildar</th>
                <td>9894872131</td>
            </tr>
            <tr>
                <th scope="row">LIC</th>
                <td>04182-222066, 04182-222077</td>
            </tr>

            </tbody>
            
        </table></div></div><br><br>
        <!----------------------------------------------------------------------->
    <!----------------------------------------------------------------------->
    <div class="card bg-dark shadow-2">
    <div class="card-body">
        <table class="table table-dark table-borderless mb-0" style="text-align: center;"   >
            <thead>
            <tr>
                <th scope="col" colspan="4" style="color: rgb(204, 0, 255);">GAS AGENCY</th> 
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Kannan Gas Agency</th>
                <td>11/1, Arcot Road, Cheyyar</td>
                <td>04182-220002, 9442270002</td>
            </tr>
            <tr>
                <th scope="row">Babu Gas Agency</th>
                <td>41D, Arcot Road, Near Government Hospital, Cheyyar</td>
                <td>04182-222343, 04182-222843</td>
            </tr>
            </tbody>
            
        </table></div></div><br><br>
        <!----------------------------------------------------------------------->
        <div class="card bg-dark shadow-2">
            <div class="card-body">
                <table class="table table-dark table-borderless mb-0" style="text-align: center;"   >
                    <thead>
                    <tr>
                        <th scope="col" colspan="4" style="color: rgb(229, 243, 30);">BANNER</th> 
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Omega</th>
                        <td>9095234077</td>
                    </tr>
                    <tr>
                        <th scope="row">Maa</th>
                        <td>9095234077</td>
                    </tr>
                    <tr>
                        <th scope="row">Ramana</th>
                        <td>9095234077</td>
                    </tr>
                    </tbody>
                    
                </table></div></div><br><br>
                <!----------------------------------------------------------------------->
        <div class="card bg-dark shadow-2">
            <div class="card-body">
                <table class="table table-dark table-borderless mb-0" style="text-align: center;"   >
                    <thead>
                    <tr>
                        <th scope="col" colspan="4" style="color: chartreuse;">PRESS REPORTERS</th> 
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Dhinamalar</th>
                        <td>9842318503</td>
                    </tr>
                    <tr>
                        <th scope="row">Dhinamani</th>
                        <td>9842652696</td>
                    </tr>
                    <tr>
                        <th scope="row">Dhinakaran</th>
                        <td>9842652306</td>
                    </tr>
                    <tr>
                        <th scope="row">Maalai Murasu</th>
                        <td>9842533007</td>
                    </tr>
                    <tr>
                        <th scope="row">Maalai Malar</th>
                        <td>9842652307</td>  
                    </tr>
                    <tr>
                        <th scope="row">Dhinathanthi</th>
                        <td> 9842652307</td>
                    </tr>
                    </tbody>
                    
                </table></div></div><br><br>
                <!----------------------------------------------------------------------->
        <div class="card bg-dark shadow-2">
        <div class="card-body">
            <table class="table table-dark table-borderless mb-0" style="text-align: center;">
                <thead>
                    <tr>
                    <th scope="col" colspan="4" style="color: chocolate; ">TELEVISION REPORTERS</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">Sun TV</th>
                    <td>9003542460</td>
                    
                    </tr>
                    <tr>
                    <th scope="row">ZEE TV</th>
                    <td>9865871005</td>
                    
                    </tr>
                    <tr>
                    <th scope="row">Thamizhan TV</th>
                    <td>9842568490</td>
                    
                    </tr>
                    <tr>
                    <th scope="row">Captain TV</th>
                    <td>9843236498</td>
                    
                    </tr>
                    
                </tbody>
                </table>

        </div>
    </div><br><br>
    <!----------------------------------------------------------------------->
    <div class="card bg-dark shadow-2">
        <div class="card-body">
            <table class="table table-dark table-borderless mb-0" style="text-align: center;"   >
                <thead>
                <tr>
                    <th scope="col" colspan="4" style="color: rgb(0, 26, 255);">PLUMBERS</th> 
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Sivakumar</th>
                    <td>8508443005</td>
                </tr>
                <tr>
                    <th scope="row">Azhagarmalai</th>
                    <td>9578134514</td>
                </tr>
                <tr>
                    <th scope="row">SathyaRaj</th>
                    <td>9092467215</td>
                </tr>
                <tr>
                    <th scope="row">ChandraSekar</th>
                    <td>9688683123</td>
                </tr>
                <tr>
                    <th scope="row">Thanigasalam</th>
                    <td>9788021088, 8807123578</td>  
                </tr>
                </tbody>
                
            </table></div></div><br><br>
            <!----------------------------------------------------------------------->

                
              </div>
            </div>
          </section>
        <br><br>
    </body>
</html>
{% endblock %}