{% extends 'layout.html' %}


{% block body %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

        <style>
        body{
            background-image: linear-gradient(to top, #f3e7e9 0%, #ff9898d2 99%, #ff7676dc 100%);
            
        }
        .ratings i{
            font-size: 16px;
            color: red
        }
        .strike-text{
            color: red;
            text-decoration: line-through
        }
        .product-image{
            width: 100%;
            height: 100%;
        }
        .dot{
            height: 7px;
            width: 7px;
            margin-left: 6px;
            margin-right: 6px;
            margin-top: 3px;
            background-color: blue;
            border-radius: 50%;
            display: inline-block
        }
        .spec-1{
            color: #938787;
            font-size: 15px
        }
        h5{
            font-weight: 400
        }
        .para{
            font-size: 16px
        }

        </style>
    </head>
    <body><br><br>
        <h1 align="center">Schools</h1><br>
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1">
                            <img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/1.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Government Boys Higher secondary school</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >GHSS(BOYS)-CHEYYAR School<br>
                                Near Bus Stand,<br>                               
                                School Code: 33060207502<br>                                  
                                School Category: Upper Pri.+ Sec. And H.Sec. <br>                               
                                School Management: Dept. of Education<br>
                                School Type: Boys<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/4B3yAsvUU36LE4Fh6" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href="https://cheyyargbhss.business.site/"><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/2.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Government Girls Higher secondary school</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >GHSS(GIRLS)-CHEYYAR School<br>
                                MG6V+GG7, Bungalow St, Cheyyar<br>                                                               
                                School Code: 33060207503<br>                          
                                School Category: Upper Pri.+ Sec. And H.Sec.<br>                                
                                School Management: Dept. of Education<br>                                
                                School Type: Girls<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/V2tdBmC88mq1ruaw9" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                        <!----------------------------------------------------------------------------------------->
                    </div><div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/3.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Thiruvothur High School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >GHS-THIRUVOTHUR School<br>
                                123/22, 123/22, Thiruvatoor.<br>
                                School Code: 33060207501  <br>                              
                                School Category: Upper Primary And Secondary<br>                                
                                School Management: Dept. of Education<br>                                
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/Td3QMR29s4BKorXMA" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/4.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>MPS&MHS Girutharanpet School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >MHS-GIRUDHARANPETTAI School<br>
                                MG5V+969, Cheyyar.<br>
                                School Code: 33060207504<br>                                
                                School Category: Upper Primary And Secondary<br>                                
                                School Management: Local Body<br>                              
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/9uMKP5BbnM5c5ycr5" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/5.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Barithipuram school</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >MPS-BARITHIPURAM School<br>
                                MG4Q+JXG, Cheyyaru Market Road, Alathur.<br>
                                School Code: 33060207505<br>
                                School Category: Primary Only<br>                                
                                School Management: Local Body<br>                                
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/cUoQcaaSsZAYwmuz9" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/6.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Municipal middle school Kodanagar</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >MMS-KODANAGAR School<br>
                                MG7M+J4X, Arasamara street, Kodanagar.<br>
                                School Code: 33060207508<br>
                                School Category: Primary with U.Primary<br>
                                School Management: Local Body<br>
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/C2A2DQKnnygXFLLt5" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/7.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>MUTHUJAHAN BAHADUR NAWAB JAMIA MASJID</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >MMS-THIRUVOTHUR (MUSLIM) School<br>
                                Old, mosque street, Cheyyar.<br>
                                School Code: 33060207509<br>                                
                                School Category: Primary with U.Primary<br>                                
                                School Management: Local Body<br>                                
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/xzvGyrk7H6GySQGf9" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/8.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Government Municipal Nursery and Primary School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >MPS-VENKATRAYANPET School<br>
                                MG4X+4GC, Venkatrayan Pet, Cheyyar.<br>
                                School Code: 33060207513<br>
                                School Category: Primary Only<br>                                
                                School Management: Local Body<br>                                
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/sUWiUmCLxQDqH6r57" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/9.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>RCM School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >RCM PRIMARY-KODANAGAR School<br>
                                MG9R+932, SH 5, Cheyyar.<br>
                                School Code: 33060207514        <br>                        
                                School Category: Primary Only       <br>                         
                                School Management: Private Aided        <br>                        
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/PEzbVgZNfepmb46J7" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/10.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Dr VGN Matric School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >VGN MATRIC HS-CHEYYAR School<br>
                                MG7X+H4Q, Cheyyar.<br>
                                School Code: 33060207516<br>
                                School Category: Pri. + U.Pri And Secondary <br>                               
                                School Management: Private Unaided      <br>                          
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/Q5KaCg9WMhiwvJqj8" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/11.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>BHARATHI NURSERY AND PRIMARY SCHOOL</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >BHARATHI N&P SCHOOL-CHEYYAR<br>
                                MG5V+969, Cheyyar.<br>
                                School Code: 33060207517       <br>                         
                                School Category: Primary Only      <br>                          
                                School Management: Private Unaided     <br>                           
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/SvxGL8QKq9rG2EoKA" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/12.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>CHRIST KING ENGLISH MEDIUM SCHOOL</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >CHIRST KING N&P SCHOOL-CHEYYAR<br>
                                MG7V+G6C, Cheyyar.<br>
                                School Code: 33060207518<br>
                                School Category: Primary Only<br>                          
                                School Management: Private Unaided <br>                               
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/VkQ6pttGRyW6ABVd7" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/13.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Kalaimagal School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >KALAIMAGAL NP SCHOOL-CHEYYAR<br>
                                MG4W+XV2, Nehru St, Venkatrayan Pet, Cheyyar.<br>
                                School Code: 33060207520<br>
                                School Category: Primary Only<br>                                
                                School Management: Private Unaided<br>                                
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/3tsawPUxkGS15CrA8" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/14.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Wisdom Matric. Hr. Sec. School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >WISDOM MATRIC-CHEYYAR School<br>
                                Cheyyatraivendran.<br>
                                School Code: 33060207521<br>
                                School Category: Pri. + U.Pri. + Sec. And H.Sec.<br>
                                School Management: Private Unaided<br>
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/A8rtMVndJAwXJDb16" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/15.jpg') }}""></div>
                        <div class="col-md-6 mt-1">
                            <h5>Wisdom Vidhyashram International (CBSE) School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >WISDOM VIDHYASHRAM-CHEYYAR School<br>
                                Arcot Rd, opp. Adhiparasakthi Temple,Cheyyar.<br>
                                School Code: 33060207521<br>
                                School Category: Pri. + U.Pri. + Sec. And H.Sec.<br>
                                School Management: Private Unaided<br>
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/V9SZpMHdXksYP6Rx7" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/16.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Indo American School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >INDO AMERICAN MATRIC SCHOOL<br>
                                MG7X+F9,Cheyyar.<br>
                                School Code: 33060207525
                                School Category: Pri. + U.Pri. + Sec. And H.Sec.
                                School Management: Private Unaided
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/QiDQkXdRZNuvpgNY8" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/17.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>AIMS CBSE SCHOOL</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >AIMS-CBSE-CHEYYAR School<br>
                                595/d, Arcot Rd, Alathur,Cheyyar.<br>
                                School Code: 33060207526<br>
                                School Category: Pri. + U.Pri And Secondary<br>
                                School Management: Central Government<br>
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/LpKDfMoA7pfjbMs98" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/18.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Oxford Matriculation Higher secondary School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >OXFORD MATRIC-CHEYYAR School<br>
                                MG2R+P9J, Bungalow St,Thiruvatoor,Cheyyar.<br>
                                School Code: 33060207528<br>
                                School Category: Pri. + U.Pri. + Sec. And H.Sec.<br>
                                School Management: Private Unaided<br>
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/D2hCM99YvcRiJe7t5" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/19.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Vijayasaraswathi Primary School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >VIJAYA SARASWATHI N&P-CHEYYAR School<br>
                                MG5R+5VQ,T S Palanivel St,Cheyyar.<br>
                                School Code: 33060207529<br>
                                School Category: Primary Only<br>
                                School Management: Private Unaided<br>
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/ndzHv6cfPvbKvqRN7" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/20.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Vivega International Matric School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >VIVEGA INT MATRIC-CHEYYAR School<br>
                                Alathur, Cheyyar.<br>
                                School Code: 33060207530<br>
                                School Category: Pri. + U.Pri And Secondary<br>
                                School Management: Private Unaided<br>
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/LwSWVvwHC1nXj7sS8" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/21.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Indian Public School</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >INDIAN PUBLIC-CHEYYAR School<br>
                                MG3Q+Q2H, Cheyyar.<br>
                                School Code: 33060207531<br>
                                School Category: Primary with U.Primary  <br>                              
                                School Management: Central Government<br>                                
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/xhRsV167VGA94BdNA" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href=""><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    <div class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ url_for('static', filename='images/schools/22.jpg') }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>Virutcham International Public School CBSE</h5>
                            <div class="mt-1 mb-1 spec-1">
                                <i><span>Address:</span></i>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                            <p >VIRUTCHAM INTER PUBLIC SCOOL School<br>
                                Arni-Cheyyar Rd, Arugavoor.<br>
                                School Code: 33060207533<br>
                                School Category: Primary with U.Primary  <br>                              
                                School Management: Unrecognised<br>                                
                                School Type: Co-educational<br><br></p></div>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center" >
                                
                            
                            <h6 class="text-success" >&nbsp;&nbsp;&nbsp; Location and Website
                            </h6></div>
                            <div class="d-flex flex-column mt-4" align="center"><a href="https://maps.app.goo.gl/KN45kxz7RogmUuov7" target="_blank"><img src="{{ url_for('static', filename='images/OIP.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>&nbsp;
                            <a href="http://www.virutchamschool.com/"><img src="{{ url_for('static', filename='images/web.jpeg') }}" width="70px" height="60px" class="btn btn-primary btn-sm" ></a>
                            <p>Click to view</p></div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------->
                    
                </div>
            </div>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </body>
</html>
{% endblock %}