{% extends 'layout.html' %}


{% block body %}

<!DOCTYPE html>
<html>
<head>
    <title>Comment Form</title>
    <meta charset="utf-8">
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nunito-font.css') }}">
	<!-- Main Style Css -->
    <link href="{{ url_for('static', filename='css/comment_style.css') }}" rel='stylesheet' type='text/css' />
</head>
    
   
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="{{ url_for('static', filename='images/clogo.jpeg') }}" alt="Comments-Section" align="center" width="100%" height="auto" style="padding-top: 70%;">
			</div>
			<form class="form-detail" method="POST" action="/submit_comment">
				<h2>Leave a Comment</h2>
				<div class="form-row">
					<input type="text" name="name" id="name" class="input-text" placeholder="Your Name" required>
				</div>
				<div class="form-row">
					<input type="text" name="email" id="email" class="input-text" placeholder="Email Address" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-row">
					<input type="text" name="phno" id="phno" class="input-text" placeholder="Phone Number" required>
				</div>
				<div class="form-row">
                    <textarea id="comment" name="comment" rows="5"  placeholder="Please enter your thoughts...." style="width: 100%;" required></textarea>
				</div>
				<div class="form-row-last">
					<input type="submit" name="submit" class="register" value="Submit">
				</div>
			</form>
		</div>
	</div>
</body>
</html>

{% endblock %}